[global_config]
  ask_before_closing = never
  putty_paste_style = True
  putty_paste_style_source_clipboard = True
[keybindings]
  zoom_out = ""
  split_horiz = <Primary>minus
  split_vert = <Primary>bar
  copy = <Primary>c
  paste = <Primary>v
  search = <Primary>f
[profiles]
  [[default]]
    font = MesloLGS NF 10
    scrollback_infinite = True
    use_system_font = False
    copy_on_selection = True
    title_transmit_bg_color = "#1a5fb4"
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
